<h4><%= link_to 'Add Annual Leave', new_holiday_path %></h4>

<h2>Annual Leave</h2>
<%= render @holiday %>


<%= link_to 'Edit', edit_holiday_path, class: "btn btn-sm btn-default" %> |
<%= link_to 'Back', holidays_path, class: "btn btn-sm btn-default" %>
