              <div id="welcome">
		<h1>Welcome to the HR Management System</h1>
		<br>
		<p>HR Solutions is designed to allow HR manage staff profiles within an organisation</p>
		<p>This page should only be used by HR with the required access rights</p>
		<p>HR Solutions provides a wide range of services including the following: </p>
		<ul><li>Create a User Profile</li>
		<li>Add annual leave</li>
		<li>Add and amend new vacancies within the organisation</li>
		<li>Edit password</li>
		</ul>
		<p>If you have any issues accessing the pages please contact the IT department to ensure you have access rights</p>
		</div>